services:
  caddy:
    image: caddy:latest
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./conf:/etc/caddy
      # - ./site:/srv
      - caddy_data:/data
      - caddy_config:/config
    extra_hosts:
    - "host.docker.internal:host-gateway"
    networks:
      - proxy

volumes:
  caddy_data:
  caddy_config:


networks:
  proxy:
    external: true