services:
  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=debug
      - TZ=Europe/Ljubljana
      - PORT=5055 # optional
    volumes:
      - /path/to/appdata/config:/app/config
    restart: unless-stopped
    labels:
      - proxy.port=5055
    networks:
      - proxy

networks:
  proxy:
    name: proxy
    external: true