services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Ljubljana
      - JELLYFIN_PublishedServerUrl=10.37.30.10
      - DOCKER_MODS=linuxserver/mods:jellyfin-opencl-intel
    volumes:
      - $HOME/homelab-data/services-config/jellyfin:/config
      - $HOME/homelab-data/media:/local-media
      - /mnt/data:/media-drive
    ports:
      # - 8096:8096       # web UI
      # - 8920:8920       # https web UI
      - 7359:7359/udp   # discovery port
      # - 1900:1900/udp # DNLA
    devices:
      - /dev/dri:/dev/dri
    labels:
      - proxy.port=8096

networks:
  proxy:
    name: proxy
    external: true