services:
  memos:
    image: neosmemo/memos:latest
    container_name: memos
    restart: unless-stopped
    volumes:
      - $HOME/homelab-data/services-config/memos:/var/opt/memos
    labels:
      - proxy.port=5230
    networks:
      - proxy

networks:
  proxy:
    name: proxy
    external: true