services:
  beszel:
    image: henrygd/beszel
    container_name: beszel
    restart: unless-stopped
    volumes:
      - $HOME/homelab-data/services-config/beszel/beszel_data:/beszel_data
      - $HOME/homelab-data/services-config/beszel/beszel_socket:/beszel_socket
    labels:
      - proxy.port=8090
    networks:
      - proxy

  beszel-agent:
    image: "henrygd/beszel-agent"
    container_name: "beszel-agent"
    restart: unless-stopped
    network_mode: host
    volumes:
      - $HOME/homelab-data/services-config/beszel/beszel_socket:/beszel_socket
      - /var/run/docker.sock:/var/run/docker.sock:ro
      # monitor other disks / partitions by mounting a folder in /extra-filesystems
      # - /mnt/disk/.beszel:/extra-filesystems/sda1:ro
    environment:
      LISTEN: /beszel_socket/beszel.sock
      KEY: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIC4/e2pcayVnqoCWrwXfl4A9ykWe7K56ucxaGX65wc/f"

networks:
  proxy:
    name: proxy
    external: true