services:
  stirling-pdf:
    image: stirlingtools/stirling-pdf:latest
    container_name: stirling
    restart: unless-stopped
    volumes:
      - $HOME/homelab-data/services-config/stirling-pdf/extraConfigs:/configs
      - $HOME/homelab-data/services-config/stirling-pdf/customFiles:/customFiles/
      - $HOME/homelab-data/services-config/stirling-pdf/logs:/logs/
      - $HOME/homelab-data/services-config/stirling-pdf/pipeline:/pipeline/
      # - ./StirlingPDF/trainingData:/usr/share/tessdata # Required for extra OCR languages
    environment:
      - DOCKER_ENABLE_SECURITY=false
      - INSTALL_BOOK_AND_ADVANCED_HTML_OPS=false
      - LANGS=en_GB
    networks:
      - proxy
    labels:
      - proxy.port=8080

networks:
  proxy:
    name: proxy
    external: true