services:
  autobrr:
    container_name: autobrr
    image: ghcr.io/autobrr/autobrr:latest
    restart: unless-stopped
    #logging:
    #  driver: json-file
    #  options:
    #    max-file: ${DOCKERLOGGING_MAXFILE}
    #    max-size: ${DOCKERLOGGING_MAXSIZE}
    environment:
      - TZ=Europe/Ljubljana
    volumes:
      - $HOME/homelab-data/services-config/autobrr:/config
    labels:
      - proxy.port=7474
    networks:
      - proxy

networks:
  proxy:
    name: proxy
    external: true